.next
node_modules
coverage
*.tsbuildinfo
.data
.tmp
.playwright-cli
output/playwright
output/pdf

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.cursor
public.zip
*.zip
*.pdf
